<h2>Your Friends(<%= @friends.size %>)</h2>
<ul class="thumbnails">
  <% @friends.each do |friend| %>
  <li class="span2" >
    <a href="/friends/details/<%= friend["id"] %>" class="thumbnail">
      <img src="http://graph.facebook.com/<%= friend["id"] %>/picture?width=100&height=100"/>
      <br/>
      <center><%=friend["name"]%></center>
    </a>
  </li>
  <% end %>
</ul>